@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("open-iconic/font/css/open-iconic-bootstrap.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body
{
    padding-top: 40px;
}

code
{
    color: black;
}

h3
{
    padding-top: 40px;
}

/*
.section-header
{
    padding-top: 40px;
}
*/

.section-header img
{
    vertical-align: baseline;
}

/*
.subsection-header
{
    padding-top: 5px;
}
*/


.research-par
{
    margin-bottom: 25px;
}

.research-list
{
    padding: 4px 4px 4px 4px;
    background-color: #f5f5f5;
    border-radius:4px;
    border: 1px solid #ccc;
}

.research-list li
{
    margin: 8px 0px 8px 0px;
}

.side-nav-bar
{
}

.side-nav-list
{
    margin-top: 100px;
    width: 200px;
}

.side-nav-list > li > a
{
    margin: 0 0 -1px;
    padding: 9px 15px;
    border: 1px solid #e5e5e5;
}

.side-nav-list > .active > a
{
    border: 0;
}

.side-nav-list > li:first-child > a
{
    border-radius: 6px 6px 0px 0px;
}

.side-nav-list > li:last-child > a
{
    border-radius: 0px 0px 6px 6px;
}

.side-nav-list .icon-chevron-right
{
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.side-logos
{
    margin-top: 100px;
}

.logo
{
    width: 180px;
    margin: 15px auto 15px auto;
    text-align: center;
}

.prerequisites > caption
{
}

.build-prereq
{
    background-color: #CCE0FF;
}

span.build-prereq
{
    padding: 1px;
    border-radius: 3px;
}

.header-button
{
    float: right;
    font-weight: normal;
}

.src-button
{
    float: right;
}

.all-prereq-button
{
    text-align:center;
}

/*
.abstract p + p
{
    margin-top: 10px;
}
*/

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.main {
  background-color: white;
  padding-bottom: 25px;
  min-height: 100%;
}

body {
  background-color: #f1f1f1;
}

.sancus-em{
  /*color:#5b5b5b;*/
  color:#af2b03;
}

.sancus-keyword-em{
  color:#5b5b5b;
}

.sancus-btn{
    font-size:20px;
}

.sancus-objective h4{
  text-transform: uppercase;
  /*font-weight: bold;*/
}

.sancus-objective p{
  color:gray;
}

p{
  font-size:16px;
}

/* https://www.webmaster-source.com/2012/04/24/pure-css-blockquote-styling/ */
.sancus-quote{
    font-family: Georgia, Century Schoolbook L, Norasi, serif;
    font-size: 18px;
    font-style: italic;
    /*width: 500px;*/
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    padding-top: 30px;
    padding-left: 60px;
}

.sancus-quote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: 0px;
    top: -20px;
    color: #7a7a7a;
    padding-top: 25px;
}

.sancus-quote cite {
    color: #999999;
    font-size: 16px;
    display: block;
    margin-top: 5px;
}

.sancus-quote cite:before {
    content: "\2014 \2009";
}

.oi {
 /*color: #f4511e;*/
 font-size: 35px;
}

.table{
  font-size: 16px;
}
